body .journal {
  margin: 5px;
  float: left;
  width: 300px;
  border: 1px solid black;
}
body .journal img {
  width: 100%;
  height: auto;
}
div .desc {
  height: 50px;
  text-align: center;
}
@media screen and (max-width: 650px) {
  body .journal {
    margin: 5px;
    float: left;
    width: 500px;
  }
}
